@using AutoMapper
@using NotifyMe.Core.Interfaces.Services;
@inject IMapper Mapper;
@inject IGroupService GroupService;
@model List<Change>

@{
    Layout = "_Layout";
    int count = 1;
}

<div class="row p-3">
    <div class="card p-3">
        <h5 class="card-header">
            @{
                await Html.RenderPartialAsync("PartialViews/PanelIndexPartialView");
            }
        </h5>
        <div class="card-body">
            <table class="table table-hover">
                <thead class="thead-light">
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Type</th>
                    <th scope="col">Description</th>
                    <th scope="col">Event</th>
                    <th scope="col">Actions</th>
                </tr>
                </thead>
                <tbody>
                @foreach (var item in Model)
                {
                    <tr data-row=">@item.Id">
                        <th scope="row">@count</th>
                        <td>
                            <a class="btn link-primary p-0" data-bs-toggle="ajax-modal" data-bs-target="#modal-details" onclick="previewing('@item.Id')">@item.ChangeType</a>
                        </td>
                        <td>@item.ChangeDescription</td>
                        <td>@item.Event</td>
                        <td>
                            @{ await Html.RenderPartialAsync("PartialViews/ActionsPartialView", item); }
                        </td>
                    </tr>
                    count++;
                }
                </tbody>
            </table>
        </div>
    </div>
</div>

<!-- The previewing modal -->
<div id="placeholder-modal-create"></div>

<!-- The previewing modal -->
<div id="placeholder-modal-details"></div>

<!-- The deleting modal -->
<div id="placeholder-modal-delete"></div>

<!-- The editing modal -->
<div id="placeholder-modal-edit"></div>

@section Scripts
{
    <script src="~/js/changes.js" asp-append-version="true"></script>
}