@using Microsoft.AspNetCore.Identity
@inject SignInManager<User> SignInManager
@inject UserManager<User> UserManager
@* @{ *@
@*     var user = await UserManager.GetUserAsync(User); *@
@* } *@

@model Event
@{
    ViewBag.Title = "Preview";
    Layout = "_Layout";
    int count = 1;
}
<div class="modal fade" id="modal-details" tabindex="-1" aria-labelledby="modalDetailsLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg p-5">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="modalDetailsLabel">@ViewBag.Title</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="row mb-3">
                    <div class="col">
                        <div class="form-group">
                            <label asp-for="Id" class="form-label"></label>
                            <input asp-for="Id" class="form-control" id="Id" readonly>
                        </div>
                    </div>
                    <div class="col">
                        <div class="form-group">
                            <label asp-for="Timestamp" class="form-label"></label>
                            <input asp-for="Timestamp" class="form-control" id="Timestamp" readonly>
                        </div>
                    </div>
                </div>
                <div class="row mb-3">
                    <div class="col">
                        <div class="form-group">
                            <label asp-for="EventName" class="form-label"></label>
                            <input asp-for="EventName" class="form-control" id="Name" readonly>
                        </div>
                    </div>
                </div>
                <div class="row mb-3">
                    <div class="col">
                        <div class="form-group">
                            <label asp-for="EventDescription" class="form-label"></label>
                            <textarea asp-for="EventDescription" class="form-control" id="Description" readonly></textarea>
                        </div>
                    </div>
                </div>
                <div class="row mb-3">
                    <div class="col">
                        <div class="form-group">
                            <label asp-for="CurrentThreshold" class="form-label"></label>
                            <input asp-for="CurrentThreshold" class="form-control" id="CurrentThreshold" readonly>
                        </div>
                    </div>
                </div>
                <div class="row mb-3">
                    <div class="col">
                        <div class="form-group">
                            <label asp-for="ConfigurationId" class="form-label"></label>
                            <input asp-for="ConfigurationId" class="form-control" id="ConfigurationId" readonly>
                        </div>
                    </div>
                </div>
                <div class="row mb-3">
                    <div class="col">
                        <h5>Changes</h5>
                        <table class="table table-hover">
                            <thead class="thead-light">
                            <tr>
                                <th scope="col">#</th>
                                <th scope="col">Timestamp</th>
                                <th scope="col">Change</th>
                                <th scope="col">Description</th>
                            </tr>
                            </thead>
                            <tbody>
                            @foreach (var item in Model.Changes!)
                            {
                                <tr data-row=">@item.Id" readonly>
                                    <th scope="row">@count</th>
                                    <td>
                                        <a class="btn link-primary p-0" 
                                           data-bs-toggle="ajax-modal" 
                                           data-bs-target="#modal-details" 
                                           onclick="previewing('@item.Id')">@item.Timestamp</a>
                                    </td>
                                    <td>@item.ChangeType</td>
                                    <td>@item.ChangeDescription</td>
                                </tr>
                                count++;
                            }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>